In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [41]:
df = pd.read_csv("USDJPY_1M_3Y.csv")
#df = df.drop(['Open', 'High', 'Low', 'Local time'], axis = 1)
df.head()

,Local time,Open,High,Low,Close,Volume
0,30.03.2017 00:00:00.000 GMT+0200,111.008,111.022,111.008,111.014,30.53
1,30.03.2017 00:01:00.000 GMT+0200,111.013,111.020,111.010,111.014,67.69
2,30.03.2017 00:02:00.000 GMT+0200,111.013,111.014,111.009,111.011,19.01
3,30.03.2017 00:03:00.000 GMT+0200,111.012,111.020,111.010,111.013,35.76
4,30.03.2017 00:04:00.000 GMT+0200,111.015,111.015,111.010,111.012,32.10

In [ ]:
df['VxC'] = df['Volume'] * df['Close']
vwap_steps = 20
df['vwap{}'.format(vwap_steps)] = 0
for i in range(vwap_steps, df.shape[0] + 1):
    df.loc[i - 1,'vwap{}'.format(vwap_steps)] = df.loc[i-vwap_steps:i,'VxC'].sum() / df.loc[i-vwap_steps:i,'Volume'].sum()
    if(i % 100000):
        print(i)
df = df[vwap_steps - 1:]
df.drop['VxC', axis = 1]
df.reset_index(drop=True, inplace=True)

## Save Dateframe

In [40]:
file_name = 'main_USDJPY_1M.csv'
df.to_csv(file_name, index = True)