In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [26]:
df = pd.read_csv("USDJPY_1M_3Y.csv")
df = df.drop(['Open', 'High', 'Low', 'Local time'], axis = 1)
df.head()

     Close  Volume
0  111.014   30.53
1  111.014   67.69
2  111.011   19.01
3  111.013   35.76
4  111.012   32.10

In [ ]:
df['VxC'] = df['Volume'] * df['Close']
vwap_steps = 20
df['vwap{}'.format(vwap_steps)] = 0
for i in range(vwap_steps, df.shape[0] + 1):
    df.loc[i - 1,'vwap{}'.format(vwap_steps)] = df.loc[i-vwap_steps:i,'VxC'].sum() / df.loc[i-vwap_steps:i,'Volume'].sum()
    if(i % 100000):
        print(i)
df = df[vwap_steps - 1:]

## Save Dateframe

In [12]:
file_name = 'main_USDJPY_1M.csv'
df.to_csv(file_name, index = True)